* {
	margin: 0;
	padding: 0;
}

.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board {
	width: calc(64px * 8);
	height: calc(64px * 8);
	display: flex;
	flex-wrap: wrap;
	border: 40px solid rgb(142, 80, 30);
	margin: 20px;

}

.cell {
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell img {
	width: 48px;
	height: 48px;
	position: relative;
}

.black {
	background-color: rgba(53, 20, 6, 0.8);
}

.white {
	background-color: rgb(214, 154, 94);
}

.selected {
	background-color: brown;
}

.available {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 5px solid #5dda5d;
}

.lost {
	/* height: calc(50vh - 120px); */
	height: 38vh;
	padding: 30px;
	margin-left: 50px;
	border: 5px solid rgba(142, 80, 30, .5);
	;
	background-color: rgba(142, 80, 30, .3);
}

.btn-restart {
	height: 3vh;
	width: 5vw;
	border: none;
	background-color: rgba(93, 218, 93, .5);
	;
	margin-bottom: 15px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.3s;
}

.btn-restart:active {
	background-color: #5dda5d;
	transform: scale(1.1)
}